* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    /* This centers the container inside the body */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin: 1rem; /* To stop it hitting the screen edges */
    display: flex;
    flex-direction:  column;
    max-width: 50rem;
    border-radius: 0.75rem;
    overflow: hidden;

    /* None of these are needed: */

    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: 0 auto; */
    /* background-color: rgb(255, 255, 255); */
    /* height: 100vh; */
}

/* .container .card{ - Don't nest selectors unnecessarily */
.card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

/* None of this is needed */
    /*align-items: left; */
    /* justify-content: space-between; */
    /* text-align: center; */
    /* width: 250px; */
    /* height: 400px; */
    /* border-radius: 10px; */
}

.card.item-1{
    background-color: #F57C00;
}
.card.item-2{
    background-color:#00838F;
}
.card.item-3{
    background-color: #004D40;
}

.card img{
    /* Give explicit dimensions to small icons like this */
    height: 4rem;
    width: 4rem;
    /* margin-top: 20px; */
    /* align-self: start; */
    /* margin-left: 40px; */ /* Make sure to learn the difference between margin and padding */
}

.card h2{
    font-size: 1.5rem;
    color: white;
    line-height: 0.5rem;
    text-transform: uppercase;
    /* margin-bottom: 10px; */
    /* align-self: start; */
    /* margin-left: 40px; */
}
.card p{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.642);
    /* margin-bottom: 20px; */
    /* margin-left: 40px; */
    /* text-align: left; */
}
.card button{
    font-size: 1rem;
    color: #F57C00;
    background-color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    /* outline: none; */ /* Don't remove outlines unless you're going to replace with your own focus state */
    text-align: center;
    align-self: start;
    /* margin-bottom: 20px; */
    /* width: 70%; */
    /* margin-left: 40px; */
}
.card button.learn-suvs{
    color: #00838F;
    /* Don't duplicate styles */
    /* font-size: 1rem; */
    /* background-color: white; */
    /* padding: 10px 20px; */
    /* cursor: pointer; */
    /* border: none; */
    /* border-radius: 20px; */
    /* outline: none; */
    /* margin-bottom: 20px; */
    /* text-align: center; */
    /* width: 70%; */
    /* margin-left: 40px; */
}
.card button.learn-luxury{
    color: #004D40;
    /* font-size: 1rem; */
    /* background-color: white; */
    /* padding: 10px 20px; */
    /* cursor: pointer; */
    /* border: none; */
    /* border-radius: 20px; */
    /* outline: none; */
    /* margin-bottom: 20px; */
    /* text-align: center; */
    /* width: 70%; */
    /* margin-left: 40px; */
}

/* Work mobile first */
@media (min-width: 48rem) {
    .container {
        flex-direction: row;
    }   
}

/* @media (max-width: 768px) {
    .card {
        width: 80%; 
    }
}
 */